<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server</title>
    {% include "__staticFiles.html" %}

    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>

    <script>
        function submitSearchServer() {
            var tableRef = document.getElementById("searchResultTable");
            var len = tableRef.rows.length;
            while (len > 1) {
                tableRef.deleteRow(len - 1);
                len = tableRef.rows.length;
            }
            $.post(
                "{% url 'ajServerSearch' %}",
                $("#serverSearchForm").serialize(),
                function (ret) {
                    var tableRef = document.getElementById("searchResultTable");

                    var count = 1;
                    $.each(ret.result, function (index, server) {
                        var newServerLine = tableRef.insertRow(count);
                        count = count + 1;
                        if (count % 2 == 0) {
                            addClass(newServerLine, "green-tr");
                        }

                        var idCol = newServerLine.insertCell();
                        idCol.innerHTML = server.id;
                        var ipCol = newServerLine.insertCell();
                        ipCol.innerHTML = server.ip;
                        var portCol = newServerLine.insertCell();
                        portCol.innerHTML = server.port;
                        var idcCol = newServerLine.insertCell();
                        idcCol.innerHTML = server.idc;
                        var signCol = newServerLine.insertCell();
                        signCol.innerHTML = server.sign;
                        var is_usedCol = newServerLine.insertCell();
                        is_usedCol.innerHTML = "<input type='checkbox' class='tgl tgl-skewed' id='checkbox" + server.id + "' class='checkbox' onclick='serverUseChange(" + server.id + ")'>" +
                            "<label class='tgl-btn' data-tg-off='off' data-tg-on='on' for='checkbox" + server.id + "'/>"


                        var changeCol = newServerLine.insertCell();
                        changeCol.innerHTML = "<form action=" + "{% url 'serverRevise' %}" + " method='get'>" +
                            "<input type='text' name='id' value=" + server.id + " hidden/>" +
                            "<input type='submit' class='table-button' value='更改'/>" +
                            "</form>";

                    });

                    var searchLenH2 = document.getElementById("searchLenH2");
                    searchLenH2.innerHTML = "搜索结果(" + (count - 1) + "条)";

                    $.each(ret.result, function (index, server) {
                        if (server.is_used == "1") {
                            var checkbox = document.getElementById("checkbox" + server.id);
                            checkbox.checked = true;
                        }
                    })

                }
            )
        }

        function serverUseChange(id) {
            var checkbox = document.getElementById("checkbox" + id);
            var state = checkbox.checked;

            if (state) {
                reuseServer(id, checkbox);
            } else {
                deleteServer(id, checkbox);
            }
        }

        $(document).ready(function () {
            submitSearchServer();
            $(document).ajaxError(function (event, xhr, settings, errorType) {
                event.id
            });
        });

        function reuseServer(id, checkbox) {
            $.post(
                "{% url 'ajServerReuse' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                        checkbox.checked = false;
                    }
                }
            )
        }

        function deleteServer(id, checkbox) {
            $.post(
                "{% url 'ajServerDelete' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                        checkbox.checked = true;
                    }
                }
            )
        }
    </script>

</head>
<body>

{% include "__head.html" %}


<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-12">
            <h2>服务器</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <form id="serverSearchForm" action="{% url 'serverSearch' %}" method="post">
                {% include "serverConfig/__serverConfigTable.html" %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <form action="{% url 'serverRevise' %}" method="get">
                <input type="text" name="id" value="-1" hidden>
                <input type="submit" class="button" value="新增"/>
            </form>
        </div>
        <div class="col-md-3">
            <button class="button" onclick="submitSearchServer()">搜索</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 id="searchLenH2"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="searchResultTable" class="result-table table-hover" border="1">
                <thead>
                <th>id</th>
                <th>ip</th>
                <th>port</th>
                <th>idc</th>
                <th>sign</th>
                <th>启用</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>