<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "__staticFiles.html" %}

    <script>
        $(document).ready(function () {

            $("#submitButton").click(function () {
                if (validate_form() == true) {
                    var ip = $("#ipText").val();
                    var port = $("#portText").val()
                    var idc = $("#idcText").val()
                    var sign = $("#signText").val()

                    $.post(
                        '/serverConfigRevise/',
                        {'id':{{ id }}, 'ip': ip, 'port': port, 'idc': idc, 'sign': sign},
                        function (ret) {
                            if (!ret.result) {
                                alert("该条目已存在")
                            } else {
                                window.location.replace('/serverConfigSearch/');
                            }
                        });
                }
            });
        });

        function validate_required(field, alerttxt) {
            with (field) {
                if (field.val() == null || field.val() == "") {
                    alert(alerttxt);
                    return false
                } else {
                    return true
                }
            }
        }
        function validate_form() {
            if (validate_required($("#ipText"), "ip must be filled out!") == false) {
                $("#ipText").focus();
                return false;
            }
            if (validate_required($("#portText"), "port must be filled out!") == false) {
                $("#portText").focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
{% include "__head.html" %}
<div class="mainDiv">


    <input type="text" name="id" value="{{ id }}" readonly hidden>
    {% include "serverConfig/__serverConfigTable.html" %}
    <div class="submitButtonDiv">
        <!--<input type="submit" class="button" value="提交"/>-->
        <button id="submitButton" class="button">提交</button>
    </div>
    <div class="addButtonDiv">
        <input type="button" class="button" value="取消" onclick="window.location.replace('/serverConfigSearch/')">
    </div>
    <div class="spaceDiv"/>

    <form action="/handleServerRevise/" method="post">
    </form>
</div>
</body>
</html>