<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "__staticFiles.html" %}

    {% load static %}
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>

    <script>

        function submitServerForm() {
            if (validate_form() == true) {
                var ip = $("#ipText").val();
                var port = $("#portText").val()
                var idc = $("#idcText").val()
                var sign = $("#signText").val()

                $.post(
                    "{% url 'ajHandleServerRevise' %}",
                    {'id':{{ id }}, 'ip': ip, 'port': port, 'idc': idc, 'sign': sign},
                    function (ret) {
                        if (!ret.result) {
                            alert("该条目已存在")
                        } else {
                            alert("操作成功")
                            window.location.replace("{% url 'serverSearch' %}");
                        }
                    });
            }
        }

        function validate_required(field, alerttxt) {
            with (field) {
                if (field.val() == null || field.val() == "") {
                    alert(alerttxt);
                    return false
                } else {
                    return true
                }
            }
        }
        function validate_form() {
            if (validate_required($("#ipText"), "ip must be filled out!") == false) {
                $("#ipText").focus();
                return false;
            }
            if (validate_required($("#portText"), "port must be filled out!") == false) {
                $("#portText").focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
{% include "__head.html" %}
<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-12">
            <h2>配置</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="id" value="{{ id }}" readonly hidden>
            {% include "serverConfig/__serverConfigTable.html" %}
            <button class="button"  onclick="window.location.replace('{% url 'serverSearch' %}')">取消</button>
            <button id="submitButton" onclick="submitServerForm()" class="button">提交</button>
        </div>
    </div>
</div>
</body>
</html>