<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server</title>
    {% include "__staticFiles.html" %}

    <script>
        function submitServerForm() {
            var ip = $("#ipText").val();
            var port = $("#portText").val();
            var idc = $("#idcText").val();
            var sign = $("#signText").val();

            $.ajax({
                type: 'POST',
                url: "{% url 'ajHandleServerAdd' %}",
                data: {'ip': ip, 'port': port, 'idc': idc, 'sign': sign},
                beforeSend: function () {
                    $("#submitButton").attr("disabled", true);
                },
                success: function (ret) {
                    if (!ret.result) {
                        alert("该ip port已存在")
                    } else {
                        alert("操作成功")
                        window.location.replace("{% url 'serverSearch' %}");
                    }
                },
                complete: function () {
                    $("#submitButton").attr("disabled", false);
                }
            });
        }
        function validataServerForm() {
            if (validate_form() == true) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'ajValidateServer' %}",
                    data: {'ip': $("#ipText").val(), 'port': $("#portText").val()},
                    success: function (ret) {
                        if (!ret.result) {
                            alert("该ip port已存在")
                        } else {
                            var ip = $("#ipText").val();
                            var port = $("#portText").val();
                            var idc = $("#idcText").val();
                            var sign = $("#signText").val();


                            $("#validataAddDiv").html("ip:" + ip + "<br/>port:" + port + "<br/>idc:" + idc + "<br/>sign:" + sign);

                            $("#myModal").modal({});
                        }
                    }
                });
            }
        }

        function validate_required(field) {
            with (field) {
                if (field.val() == null || field.val() == "") {
                    return false
                } else {
                    return true
                }
            }
        }
        function validate_form() {
            if (validate_required($("#ipText")) == false) {
                alert("ip必填");
                $("#ipText").focus();
                return false;
            }
            if (validate_required($("#portText")) == false) {
                alert("port必填");
                $("#portText").focus();
                return false;
            }
            return true;
        }


        function submitSearchServer() {
            var tableRef = document.getElementById("searchResultTable");
            var len = tableRef.rows.length;
            while (len > 1) {
                tableRef.deleteRow(len - 1);
                len = tableRef.rows.length;
            }
            $.ajax({
                    type: 'POST',
                    url: "{% url 'ajServerSearch' %}",
                    data: $("#serverSearchForm").serialize(),
                    beforeSend: function () {
                        $("#searchButton").attr("disabled", true);
                    },
                    success: function (ret) {
                        var tableRef = document.getElementById("searchResultTable");

                        var count = 1;
                        $.each(ret.result, function (index, server) {
                            var newServerLine = tableRef.insertRow(count);
                            count = count + 1;
                            if (count % 2 == 0) {
                                addClass(newServerLine, "green-tr");
                            }

                            var idCol = newServerLine.insertCell();
                            idCol.innerHTML = server.id;
                            var ipCol = newServerLine.insertCell();
                            ipCol.innerHTML = server.ip;
                            var portCol = newServerLine.insertCell();
                            portCol.innerHTML = server.port;
                            var idcCol = newServerLine.insertCell();
                            idcCol.innerHTML = server.idc;
                            var signCol = newServerLine.insertCell();
                            signCol.innerHTML = server.sign;
                            var is_usedCol = newServerLine.insertCell();
                            is_usedCol.innerHTML = "<input type='checkbox' class='tgl tgl-skewed' id='checkbox" + server.id + "' class='checkbox' onclick='serverUseChange(" + server.id + ")'>" +
                                "<label class='tgl-btn' data-tg-off='off' data-tg-on='on' for='checkbox" + server.id + "'/>"


                            var changeCol = newServerLine.insertCell();
                            changeCol.innerHTML = "<form action=" + "{% url 'serverRevise' %}" + " method='get'>" +
                                "<input type='text' name='id' value=" + server.id + " hidden/>" +
                                "<input type='submit' class='table-button' value='更改'/>" +
                                "</form>";

                        });

                        var searchLenH2 = document.getElementById("searchLenH2");
                        searchLenH2.innerHTML = "搜索结果(" + (count - 1) + "条)";

                        $.each(ret.result, function (index, server) {
                            if (server.is_used == "1") {
                                var checkbox = document.getElementById("checkbox" + server.id);
                                checkbox.checked = true;
                            }
                        })

                    },
                    complete: function () {
                        $("#searchButton").attr("disabled", false);
                    }
                }
            )
        }

        function serverUseChange(id) {
            var checkbox = document.getElementById("checkbox" + id);
            var state = checkbox.checked;

            if (state) {
                reuseServer(id, checkbox);
            } else {
                deleteServer(id, checkbox);
            }
        }

        $(document).ready(function () {
            $(function () {
                $('[data-toggle="popover"]').popover()
            });

            submitSearchServer();


            $(document).ajaxError(function (event, xhr, settings, errorType) {
                event.id
            });
        });

        function reuseServer(id, checkbox) {
            $.post(
                "{% url 'ajServerReuse' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                        checkbox.checked = false;
                    }
                }
            ).fail(function () {
                alert("连接失败")
                checkbox.checked = false;
            })
        }

        function deleteServer(id, checkbox) {
            $.post(
                "{% url 'ajServerDelete' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                        checkbox.checked = true;
                    }
                }
            ).fail(function () {
                alert("连接失败")
                checkbox.checked = true;
            })
        }
    </script>

</head>
<body>

{% include "__head.html" %}


<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-12">
            <h2>服务器</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <form id="serverSearchForm" action="{% url 'serverSearch' %}" method="post">
                {% include "serverConfig/__serverConfigTable.html" %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <button onclick="validataServerForm()" class="button">新增</button>
        </div>
        <div class="col-md-3">
            <button id="searchButton" class="button" onclick="submitSearchServer()">搜索</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 id="searchLenH2"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="searchResultTable" class="result-table table-hover" border="1">
                <thead>
                <th>id</th>
                <th>ip</th>
                <th>port</th>
                <th>idc</th>
                <th>sign</th>
                <th>启用</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增服务器信息</h4>
            </div>
            <div class="modal-body" id="validataAddDiv">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" onclick="submitServerForm()">确认提交</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>