<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server</title>
    {% include "__staticFiles.html" %}


    <script>
        function submitSearchServer() {
            $.post(
                '/serverConfigSearch/',
                $("#serverSearchForm").serialize(),
                function (ret) {
                    var tableRef = document.getElementById("searchResultTable");
                    var len = tableRef.rows.length;
                    while (len > 1) {
                        tableRef.deleteRow(len - 1);
                        len = tableRef.rows.length;
                    }

                    var count = 1;
                    $.each(ret.result, function (index, server) {
                        var newServerLine = tableRef.insertRow(count);
                        count = count + 1;
                        if (count % 2 == 0) {
                            addClass(newServerLine,"green-tr");
                        }

                        var idCol = newServerLine.insertCell();
                        idCol.innerHTML = server.id;
                        var ipCol = newServerLine.insertCell();
                        ipCol.innerHTML = server.ip;
                        var portCol = newServerLine.insertCell();
                        portCol.innerHTML = server.port;
                        var idcCol = newServerLine.insertCell();
                        idcCol.innerHTML = server.idc;
                        var signCol = newServerLine.insertCell();
                        signCol.innerHTML = server.sign;
                        var is_usedCol = newServerLine.insertCell();
                        is_usedCol.innerHTML = server.is_used;
                        var changeCol = newServerLine.insertCell();
                        changeCol.innerHTML = "<form action='/serverConfigRevise/' method='get'>" +
                            "<input type='text' name='id' value=" + server.id + " hidden/>" +
                            "<input type='submit' class='table-button' value='更改'/>" +
                            "</form>";
                        var deleteCol = newServerLine.insertCell();
                        deleteCol.innerHTML = "<button class='table-button' onclick='deleteServer(" + server.id + ")'>禁用</button>"

                        var reuseCol = newServerLine.insertCell();
                        reuseCol.innerHTML = "<button class='table-button' onclick='reuseServer(" + server.id + ")'>启用</button>"
                    });

                }
            )
        }

        function reuseServer(id) {
            $.post(
                '/serverConfigReuse/',
                {"id": id},
                function (ret) {
                    if (ret.result) {
                        alert("操作成功");
                        window.location.replace('/serverConfigSearch/');
                    } else {
                        alert("操作失败");
                    }
                }
            )
        }

        function deleteServer(id) {
            $.post(
                '/serverConfigDelete/',
                {"id": id},
                function (ret) {
                    if (ret.result) {
                        alert("操作成功");
                        window.location.replace('/serverConfigSearch/');
                    } else {
                        alert("操作失败");
                    }
                }
            )
        }
    </script>

</head>
<body>

{% include "__head.html" %}


<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-12">
            <h2>服务器</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <form id="serverSearchForm" action="/serverConfigSearch/" method="post">
                {% include "serverConfig/__serverConfigTable.html" %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <form action="/serverConfigRevise/" method="get">
                <input type="text" name="id" value="-1" hidden>
                <input type="submit" class="button" value="新增"/>
            </form>
        </div>
        <div class="col-md-3">
            <button class="button" onclick="submitSearchServer()">搜索</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>搜索结果(共{{ resultSize }}条)</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="searchResultTable" class="result-table table-hover" border="1">
                <thead>
                <th>id</th>
                <th>ip</th>
                <th>port</th>
                <th>idc</th>
                <th>sign</th>
                <th>启用</th>
                </thead>
                <tbody>
                {% for line in result %}
                    <tr>
                        <td>{{ line.id }}</td>
                        <td>{{ line.ip }}</td>
                        <td>{{ line.port }}</td>
                        <td>{{ line.idc }}</td>
                        <td>{{ line.sign }}</td>
                        <td>{{ line.is_used }}</td>
                        <td>
                            <form action="/serverConfigRevise/" method="get">
                                <input type="text" name="id" value="{{ line.id }}" hidden/>
                                <input type="submit" class="table-button" value="更改"/>
                            </form>
                        </td>
                        <td>
                            <button class="table-button" onclick="deleteServer({{ line.id }})">禁用</button>
                        </td>
                        <td>
                            <button class="table-button" onclick="reuseServer({{ line.id }})">启用</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>