<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}
</head>
<body>
<h1>rule manager</h1>
<div class="index-main-div">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button class="button" name="ruleButton" onclick="window.location.replace('/ruleConfigSearch/')">管理规则
                </button>
            </div>
            <div class="col-md-4">
                <button class="button" name="serverButton" onclick="window.location.replace('/serverConfigSearch/')">
                    管理服务器
                </button>
            </div>
            <div class="col-md-4">
                <button class="button" name="serverGroupButton"
                        onclick="window.location.replace('/serverGroupConfigSearch/')">管理服务器组
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>