<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}
</head>
<body>
{% include '__head.html' %}
<div class="main-div">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button class="button" name="ruleButton" onclick="window.location.replace('{% url 'ruleSearch' %}')">管理规则
                </button>
            </div>
            <div class="col-md-4">
                <button class="button" name="serverButton" onclick="window.location.replace('{% url 'serverSearch' %}')">
                    管理服务器
                </button>
            </div>
            <div class="col-md-4">
                <button class="button" name="serverGroupButton"
                        onclick="window.location.replace('{% url 'serverGroupSearch' %}')">管理服务器组
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>