<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "__staticFiles.html" %}

    <script>

        $(document).ready(function () {

            //显示详情按钮挂载函数
            $(".showdetail-button").click(function () {

                //显示详情表格
                if ($("#showDetailTableDiv").hasClass("hidden")) {
                    $("#addServerGroupButtonDiv").removeClass("col-md-12");
                    $("#addServerGroupButtonDiv").addClass("col-md-7");
                    $("#resultTableDiv").removeClass("col-md-12");
                    $("#resultTableDiv").addClass("col-md-7");
                    $("#showDetailTableDiv").removeClass("hidden");
                }


                var id = this.value;

                //清空详情表格
                var tableRef = document.getElementById("showDetailTable");
                var len = tableRef.rows.length;
                while (len > 1) {
                    tableRef.deleteRow(len - 1);
                    len = tableRef.rows.length;
                }

                $.get(
                    '{% url "ajServerGroupDetail" %}',
                    {'id': id},
                    function (ret) {
                        //填充详情表格
                        $.each(ret.result, function (index, server) {
                            var newServerLine = tableRef.insertRow();

                            var idCol = newServerLine.insertCell();
                            idCol.innerHTML = server.id;
                            var ipCol = newServerLine.insertCell();
                            ipCol.innerHTML = server.ip;
                            var portCol = newServerLine.insertCell();
                            portCol.innerHTML = server.port;
                            var idcCol = newServerLine.insertCell();
                            idcCol.innerHTML = server.idc;
                            var signCol = newServerLine.insertCell();
                            signCol.innerHTML = server.sign;

                        })
                    });
            });
        });
    </script>
</head>
<body>

{% include "__head.html" %}


<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-12">
            <h2>服务器组</h2>
        </div>
    </div>

    <div class="row">
        <div id="addServerGroupButtonDiv" class="col-md-12">
            <form action="{% url 'serverGroupRevise' %}" method="get">
                <input type="text" name="id" value="-1" hidden/>
                <input type="submit" class="button" value="新增服务器组"/>
            </form>
        </div>
    </div>


    <div class="row">
        <div id="resultTableDiv" class="col-md-12">

            <table class="result-table table-hover" border="1">
                <thead>
                <th hidden>id</th>
                <th>服务器组名</th>
                <th>服务器id列表</th>
                </thead>
                <tbody>
                {% for serverGroup in result %}
                    <tr>
                        <td hidden>{{ serverGroup.id }}</td>
                        <td>{{ serverGroup.group_name }}</td>
                        <td>{{ serverGroup.server_ids }}</td>
                        <td>
                            <form action="{% url 'serverGroupRevise' %}" method="get">
                                <input type="text" name="id" value="{{ serverGroup.id }}" hidden/>
                                <input type="submit" class="table-button" value="更改"/>
                            </form>
                        </td>
                        <td>
                            <button class="showdetail-button"
                                    id="showDetailButton{{ serverGroup.id }}"
                                    value="{{ serverGroup.id }}"
                                    type="button">
                                详情
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div  class=" col-md-5 ">
            <div id="showDetailTableDiv" class="hidden">
                <h3>服务器组详情</h3>
                <table class="result-table" id="showDetailTable" border="1">
                    <thead>
                    <th>id</th>
                    <th>ip</th>
                    <th>port</th>
                    <th>idc</th>
                    <th>sign</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>