<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}

    <script>
        //搜索服务器
        function searchServer() {
            //清空搜索表格
            var tableRef = document.getElementById("searchResultTable");
            var len = tableRef.rows.length;
            while (len > 1) {
                tableRef.deleteRow(len - 1);
                len = tableRef.rows.length;
            }
            var ip = $("#ipText").val();
            var port = $("#portText").val();
            var idc = $("#idcText").val();
            var sign = $("#signText").val();

            $.ajax({
                type:'POST',
                url:"{% url 'ajServerSearch' %}",
                data:{"ip": ip, "port": port, "idc": idc, "sign": sign},
                beforeSend:function () {
                     $("#searchButton").attr("disabled",true);
                },
                success:function (ret) {
                    var tableRef = document.getElementById("searchResultTable");

                    var serverChoosedTableRef = document.getElementById("serverChoosedTable");

                    var count = 1;
                    //填充搜索表格
                    $.each(ret.result, function (index, server) {
                        var newServerLine = tableRef.insertRow(count);
                        count = count + 1;
                        if (count % 2 == 0) {
                            addClass(newServerLine, "green-tr");
                        }

                        var idCol = newServerLine.insertCell();
                        idCol.innerHTML = server.id;
                        var ipCol = newServerLine.insertCell();
                        ipCol.innerHTML = server.ip;
                        var portCol = newServerLine.insertCell();
                        portCol.innerHTML = server.port;
                        var idcCol = newServerLine.insertCell();
                        idcCol.innerHTML = server.idc;
                        var signCol = newServerLine.insertCell();
                        signCol.innerHTML = server.sign;
                        var is_usedCol = newServerLine.insertCell();
                        is_usedCol.innerHTML = server.is_used;


                        //如果已选表格中有该项，则设置打勾
                        var flag = 0;
                        for (var i = 0; i < serverChoosedTableRef.rows.length; i++) {
                            if (serverChoosedTableRef.rows[i].cells[0].innerHTML == server.id) {
                                var addCol = newServerLine.insertCell();
                                addCol.innerHTML = "<input type='checkbox' id='checkbox" + server.id + "' class='checkbox' onclick='changeServer(" + server.id + ")' checked='checked'/>"
                                flag = 1;
                                break;
                            }
                        }
                        if (flag == 0) {
                            var addCol = newServerLine.insertCell();
                            addCol.innerHTML = "<input type='checkbox' id='checkbox" + server.id + "' class='checkbox' onclick='changeServer("
                                + server.id +
                                ")'/>"
                        }
                    });

                },
                complete:function () {
                    $("#searchButton").attr("disabled",false);
                }
            });
        }
        //向已选表格中添加一项
        function addServer(id) {
            var searchResultTableRef = document.getElementById("searchResultTable");
            var serverChoosedTableRef = document.getElementById("serverChoosedTable");

            for (var i = 0; i < searchResultTableRef.rows.length; i++) {
                if (searchResultTableRef.rows[i].cells[0].innerHTML == id.toString()) {

                    var newServerLine = serverChoosedTableRef.insertRow();

                    for (var j = 0; j < 6; j++) {
                        var col = newServerLine.insertCell();
                        col.innerHTML = searchResultTableRef.rows[i].cells[j].innerHTML;
                    }
                    break;
                }
            }
        }
        //删除已选表格中的一项
        function deleteServer(id) {
            var searchResultTableRef = document.getElementById("searchResultTable");
            var serverChoosedTableRef = document.getElementById("serverChoosedTable");

            for (var i = 0; i < serverChoosedTableRef.rows.length; i++) {
                if (serverChoosedTableRef.rows[i].cells[0].innerHTML == id.toString()) {
                    serverChoosedTableRef.deleteRow(i);
                    break;
                }
            }
        }
        //根据已选表格状态选择或者删除一项
        function changeServer(id) {
            var searchResultTableRef = document.getElementById("searchResultTable");
            var serverChoosedTableRef = document.getElementById("serverChoosedTable");

            //检查已选表格中是否有该项
            //如果有则删除，否则添加
            var flag = 0;
            for (var i = 0; i < serverChoosedTableRef.rows.length; i++) {
                if (serverChoosedTableRef.rows[i].cells[0].innerHTML == id.toString()) {
                    flag = 1;
                    break;
                }
            }

            if (flag == 1) {
                deleteServer(id);
            } else {
                addServer(id);
            }
        }

        //提交服务器组修改表单
        function submitServerGroup() {
            if (!validate_form()) {
                return;
            }


            var groupName = $("#groupNameText").val();
            var timeout = $("#timeoutTel").val();
            var serverList = new Array();

            var serverChoosedTableRef = document.getElementById("serverChoosedTable");

            for (var i = 1; i < serverChoosedTableRef.rows.length; i++) {
                serverList[i] = serverChoosedTableRef.rows[i].cells[0].innerHTML;
            }
            var serverListStr = serverList.join(",");
            if (serverListStr != "") {
                serverListStr = serverListStr.substr(1);
            }

            $.ajax({
                type:'POST',
                url:"{% url 'ajHandleServerGroupRevise' %}",
                data:{"id":{{ id }}, "groupName": groupName, "timeout": timeout, "serverList": serverListStr},
                beforeSend:function () {
                    $("#submitButton").attr("disabled",true);
                },
                success:function (ret) {
                    if (ret.result) {
                        window.alert("操作成功");
                        window.location.replace("{% url 'serverGroupSearch' %}");
                    } else {
                        window.alert("服务器组名称已存在");
                    }
                },
                complete:function () {
                    $("#submitButton").attr("disabled",false);
                }
            }

            )
        }

        //页面加载完成初始化
        $(document).ready(function () {
            //发送一个初始化ajax请求,参数是要修改的服务器组id
            $.post(
                "{% url 'ajServerGroupReviseInit' %}",
                {"id": {{ id }}},
                function (ret) {
                    //清空搜索表格
                    var tableRef = document.getElementById("searchResultTable");
                    var len = tableRef.rows.length;
                    while (len > 1) {
                        tableRef.deleteRow(len - 1);
                        len = tableRef.rows.length;
                    }

                    var serverChoosedTableRef = document.getElementById("serverChoosedTable");

                    var count = 1;
                    //填充搜索表格
                    $.each(ret.serverList, function (index, server) {
                        var newServerLine = tableRef.insertRow(count);
                        count = count + 1;
                        if (count % 2 == 0) {
                            addClass(newServerLine, "green-tr");
                        }

                        var idCol = newServerLine.insertCell();
                        idCol.innerHTML = server.id;
                        var ipCol = newServerLine.insertCell();
                        ipCol.innerHTML = server.ip;
                        var portCol = newServerLine.insertCell();
                        portCol.innerHTML = server.port;
                        var idcCol = newServerLine.insertCell();
                        idcCol.innerHTML = server.idc;
                        var signCol = newServerLine.insertCell();
                        signCol.innerHTML = server.sign;
                        var is_usedCol = newServerLine.insertCell();
                        is_usedCol.innerHTML = server.is_used;


                        var addCol = newServerLine.insertCell();
                        addCol.innerHTML = "<input type='checkbox' id='checkbox" + server.id + "' class='checkbox' onclick='changeServer("
                            + server.id +
                            ")'/>";

                    });
                    //根据接收的当前要修改的服务器组信息设置已勾选的服务器表格
                    $.each(ret.defaultServerList, function (index, serverid) {
                        var checkbox = document.getElementById("checkbox" + serverid);
                        checkbox.checked = true;
                        addServer(serverid);
                    });

                }
            ).fail(function () {
                window.alert("连接失败");
                window.location.replace("{% url 'serverGroupRevise' %}");
            });

            //设置默认参数
            {% for serverGroup in allServerGroup %}
                if ({{ serverGroup.id }}=={{ id }}) {
                    $("#timeoutTel").val({{ serverGroup.time_out }})
                    $("#groupNameText").val("{{ groupName }}")
                }
            {% endfor %}

            if ({{ id }}=={{ -1 }}) {
                $("#timeoutTel").val("6000")
                $("#groupNameText").val("")
            }

        });

    </script>


    <script>
        function validate_required(field, alerttxt) {
            if (field.val() == null || field.val() == "") {
                window.alert(alerttxt);
                return false
            }
            else {
                return true
            }
        }
        function validate_form() {

            if (validate_required($("#groupNameText"), "服务器组名称必填") == false) {
                $("#groupNameText").focus();
                return false
            }
            if (validate_required($("#timeoutTel"), "timeout必填") == false) {
                $("#timeoutTel").focus();
                return false
            }
            return true;
        }
    </script>
</head>
<body>

{% include "__head.html" %}

<div class="container-fluid main-div">

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>所有服务器</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="result-table" border="1">
                        <thead>
                        <th>ip</th>
                        <th>port</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="text" name="ip" id="ipText"/>
                            </td>
                            <td>
                                <input type="text" name="port" id="portText"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="result-table" border="1">
                        <thead>
                        <th>idc</th>
                        <th>sign</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="text" name="idc" id="idcText"/>
                            </td>
                            <td>
                                <input type="text" name="sign" id="signText"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="searchButton" class="button" onclick="searchServer()">搜索</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" name="id" value={{ id }} hidden>
                    <table id="searchResultTable" class="result-table" border="1">
                        <thead>
                        <th>id</th>
                        <th>ip</th>
                        <th>port</th>
                        <th>idc</th>
                        <th>sign</th>
                        <th>启用</th>
                        </thead>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>配置服务器组</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="result-table" border="1">
                        <thead>
                        <th>服务器组名称</th>
                        <th>timeout</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="tel" name="groupName" id="groupNameText"/>
                            </td>
                            <td>
                                <input type="tel" name="timeout" id="timeoutTel" value="6000"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="button" onclick="window.location.replace('{% url 'serverGroupSearch' %}')">取消
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="submitButton" class="button" onclick="submitServerGroup()">提交</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>已选中服务器</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="result-table" id="serverChoosedTable" border="1">
                        <thead>
                        <th>id</th>
                        <th>ip</th>
                        <th>port</th>
                        <th>idc</th>
                        <th>sign</th>
                        <th>启用</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>