{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}"/>

{% load static %}
<script src="{% static "js/less.js" %}"></script>

{% load static %}
<link rel="stylesheet/less" type="text/css" href="{% static "css/index.less" %}"/>



<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
{% load static %}
<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>


{% load static %}
<script src="{% static "js/handleClass.js" %}"></script>


