{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />


{% load static %}
<link rel="stylesheet/less" type="text/css" href="{% static "css/index.less" %}"/>
{% load static %}
<script src="https://cdn.bootcss.com/less.js/2.5.3/less.min.js"></script>





<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
{% load static %}
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% load static %}
<script src="{% static "js/handleClass.js" %}"></script>


