<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}



    <script>
        function loginSuper() {
            if (validate_form() == true) {
                var username = $("#usernameText").val();
                var password = $("#passwordText").val();

                $.post(
                    '{% url 'checkSuper' %}',
                    {'username': username, 'password': password},
                    function (ret) {
                        if (!ret.result) {
                            alert("用户名或密码错误,或权限不够")
                        } else {
                            window.location.replace('{% url 'managerUser' %}');
                        }
                    });
            }
        }

        function login() {
            if (validate_form() == true) {
                var username = $("#usernameText").val();
                var password = $("#passwordText").val();

                $.post(
                    '{% url 'check' %}',
                    {'username': username, 'password': password},
                    function (ret) {
                        if (!ret.result) {
                            alert("用户名或密码错误")
                        } else {
                            window.location.replace('{% url 'index' %}');
                        }
                    });
            }
        }

        $(document).ready(function () {

            $("#usernameText").focus()

        });
        //表单验证
        function validate_required(field, alerttxt) {
            with (field) {
                if (field.val() == null || field.val() == "") {
                    alert(alerttxt)
                    return false;
                } else {
                    return true;
                }
            }
        }

        function validate_form() {
            if (validate_required($("#usernameText"), "用户名不能为空") == false) {
                $("#usernameText").focus();
                return false;
            }
            if (validate_required($("#passwordText"), "密码不能为空") == false) {
                $("#passwordText").focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>


<div class="login-main-div">


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>登录:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Username:</label>
                <input type="text" id="usernameText" placeholder="username"
                       onkeydown='if(event.keyCode==13){ $("#submitButton").click()}'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Password:</label>
                <input type="password" id="passwordText" placeholder="password"
                       onkeydown='if(event.keyCode==13){ $("#submitButton").click()}'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="button" id="submitButton" onclick="login()">登录</button>
                <button class="button" id="managerUserButton" onclick="loginSuper()">管理用户</button>
            </div>
        </div>

    </div>
</div>


</body>
</html>