<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}


    <script>
        //获取所有用户列表
        function queryAllUser() {
            $.ajax(
                {
                    type: 'POST',
                    url: "{% url 'ajQueryAllUser' %}",
                    data: {},
                    success: function (ret) {
                        var count = 1;
                        var userTable = document.getElementById("userTable");
                        $.each(ret.userList, function (index, user) {
                            var newUserLine = userTable.insertRow();

                            count = count + 1;

                            if (count % 2 == 0) {
                                addClass(newUserLine, "green-tr");
                            }
                            var idCol = newUserLine.insertCell();
                            idCol.innerHTML = user.id;
                            var nameCol = newUserLine.insertCell();
                            nameCol.innerHTML = user.name;

                            //增加更改按钮
                            var changeCol = newUserLine.insertCell();
                            changeCol.innerHTML = "<form action='" + "{% url 'reviseUser' %}" + "' method=''>" +
                                "<input type='text' name='id' value='" + user.id + "' hidden/>" +
                                "<input type='submit' class='table-button' value='更改'/>" +
                                "</form>"
                        })
                    }
                }
            )
        }

        $(document).ready(function () {
            queryAllUser();
        })

        function addUser() {
            window.location.replace("{% url 'addUser' %}")
        }
    </script>
</head>
<body>


{% include 'auth/__head.html' %}

<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-12">
            <h2>管理用户</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="button" id="addUserButton" onclick="addUser()">新增</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="userTable" class="result-table table-hover table-condensed" border="1">
                <thead>
                <th>id</th>
                <th>用户名</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>