<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Rule</title>

    {% include "__staticFiles.html" %}

</head>
<body>
{% include "__head.html" %}

<input type="button" class="button" name="ruleButton" value="返回" onclick="window.location.replace('/index/')">


<div class="mainDiv">

    <h2 style="...">rule</h2>


    <form action="/ruleConfigSearch/" method="post">

        {% include "ruleConfig/__conditionTable.html" %}


        <div class="submitButtonDiv">
            <input type="submit" class="button" value="搜索"/>
        </div>

    </form>

    <div class="addButtonDiv">
        <form action="/ruleConfigRevise/" method="post">
            <input type="text" name="id" value="-1" hidden>
            <input type="submit" class="button" value="新增"/>
        </form>
    </div>

    <div class="spaceDiv">

    </div>


    <div class="resultTableDiv">


        <h2 style="...">result</h2>
        <table border="1">
            <thead>
            <th>group_id</th>
            <th>rules</th>
            <th>rank</th>
            <th>ttl</th>
            <th>compel</th>
            </thead>
            <tbody>
            {% for line in result %}
                <tr>
                    <td>{{ line.group_id }}</td>
                    <td>{{ line.rule }}</td>
                    <td>{{ line.rank }}</td>
                    <td>{{ line.ttl }}</td>
                    <td>{{ line.compel }}</td>
                    <td>
                        <form action="/ruleConfigRevise/" method="post">
                            <input type="text" name="id" value="{{ line.id }}" hidden/>
                            <input type="submit" class="tableButton" value="更改"/>
                        </form>
                    </td>
                    <td>
                        <form action="/ruleConfigDelete/" method="post">
                            <input type="text" name="id" value="{{ line.id }}" hidden/>
                            <input type="submit" class="tableButton" value="删除"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


</body>
</html>