<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Rule</title>

    {% include "__staticFiles.html" %}


    {% load  static %}
    <link rel="stylesheet" type="text/css" href="{% static "themes/default/easyui.css" %}"/>
    {% load  static %}
    <link rel="stylesheet" type="text/css" href="{% static "themes/icon.css" %}"/>
    {% load  static %}
    <script src="{% static "js/jquery.easyui.min.js" %}"></script>


    <script>

        var GLOBAL = {};

        function initQueryMap() {
            GLOBAL.countryMap = new Map();
            GLOBAL.countryMap[""] = "";
            GLOBAL.provinceMap = new Map();
            GLOBAL.provinceMap[""] = "";
            GLOBAL.cityMap = new Map();
            GLOBAL.cityMap[""] = "";

            {% for country in allCountry %}
                GLOBAL.countryMap.set("{{ country.code }}", "{{ country.name }}");
            {% endfor %}

            {% for province in allProvince %}
                GLOBAL.provinceMap.set("{{ province.code }}", "{{ province.name }}");
            {% endfor %}

            {% for city in allCity %}
                GLOBAL.cityMap.set("{{ city.code }}", "{{ city.name }}");
            {% endfor %}

        }

        //搜索按钮调用
        //重置需要接受的page，然后提交表单
        function search() {
            $("#pageText").val(1);
            submitSearchForm();
        }

        //提交搜索表单
        function submitSearchForm() {
            //先把之前查询的结果表格清空
            var searchResultTable = document.getElementById("searchResultTable");

            var len = searchResultTable.rows.length;
            while (len > 1) {
                searchResultTable.deleteRow(len - 1);
                len = searchResultTable.rows.length;
            }

            //提交ajax请求的时候禁用搜索按钮
            $.ajax({
                type: 'POST',
                url: "{% url 'ajRuleSearch' %}",
                data: $("#ruleSearchForm").serialize(),
                beforeSend: function () {
                    $("#searchButton").attr("disabled", true);
                },
                success: function (ret) {
                    var searchResultTable = document.getElementById("searchResultTable");

                    var tbody = document.createElement("tbody");
                    searchResultTable.appendChild(tbody);

                    var count = 1;
                    //对于每个查找结果，填充搜索结果表
                    $.each(ret.ruleList, function (index, rule) {
                        var newRuleLine = tbody.insertRow();
                        count = count + 1;
                        if (count % 2 == 0) {
                            addClass(newRuleLine, "green-tr");
                        }
                        var idCol = newRuleLine.insertCell();
                        idCol.innerHTML = rule.id;
                        var countryCol = newRuleLine.insertCell();
                        countryCol.innerHTML = rule.country;
                        var provinceCol = newRuleLine.insertCell();
                        provinceCol.innerHTML = rule.province;
                        var cityCol = newRuleLine.insertCell();
                        cityCol.innerHTML = rule.city;
                        var hostCol = newRuleLine.insertCell();
                        hostCol.innerHTML = rule.host;
                        var appidCol = newRuleLine.insertCell();
                        appidCol.innerHTML = rule.appid;
                        var netCol = newRuleLine.insertCell();
                        netCol.innerHTML = rule.net;
                        var group_idCol = newRuleLine.insertCell();
                        group_idCol.innerHTML = rule.group_id;
                        var rankCol = newRuleLine.insertCell();
                        rankCol.innerHTML = rule.rank;
                        var ttlCol = newRuleLine.insertCell();
                        ttlCol.innerHTML = rule.ttl;
                        var compelCol = newRuleLine.insertCell();
                        compelCol.innerHTML = rule.compel;

                        //增加启用按钮
                        var is_usedCol = newRuleLine.insertCell();
                        is_usedCol.innerHTML = "<input type='checkbox' class='tgl tgl-skewed' id='checkbox" + rule.id + "' class='checkbox' onclick='ruleUseChange(" + rule.id + ")'>" +
                            "<label class='tgl-btn' data-tg-off='off' data-tg-on='on' for='checkbox" + rule.id + "'/>"

                        //增加更改按钮
                        var changeCol = newRuleLine.insertCell();
                        changeCol.innerHTML = "<form action='" + "{% url 'ruleRevise' %}" + "' method=''>" +
                            "<input type='text' name='id' value='" + rule.id + "' hidden/>" +
                            "<input type='submit' class='table-button' value='更改'/>" +
                            "</form>"
                    });
                    //根据规则启用状态设置对应的checkbox
                    $.each(ret.ruleList, function (index, rule) {
                        if (rule.is_use == "1") {
                            var checkbox = document.getElementById("checkbox" + rule.id);
                            checkbox.checked = true;
                        }
                    });
                    //如果有上一页，则显示上一页按钮
                    if (ret.has_previous) {
                        $("#previousDiv").show();
                    } else {
                        $("#previousDiv").hide();
                    }
                    //如果有下一页，则显示下一页按钮
                    if (ret.has_next) {
                        $("#nextDiv").show();
                    } else {
                        $("#nextDiv").hide();
                    }
                    //显示当前页数
                    var curPageLabel = document.getElementById("curPageLabel");
                    curPageLabel.innerHTML = "第" + ret.page_num + "页" + "共" + ret.all_page_num + "页";

                    $("#pageText").val(ret.page_num);

                    //显示一共多少条记录
                    var searchLenH2 = document.getElementById("searchLenH2");
                    searchLenH2.innerHTML = "搜素结果(共" + (ret.searchLen) + "条)";

                },
                complete: function () {
                    $("#searchButton").attr("disabled", false);
                }
            });
        }

        function nextPage() {
            var curPage = $("#pageText").val();
            $("#pageText").val(parseInt(curPage) + 1);
            submitSearchForm();
        }

        function previousPage() {
            var curPage = $("#pageText").val();
            $("#pageText").val(parseInt(curPage) - 1);
            submitSearchForm();
        }

        //根据checkbox改变的状态启用或者禁用某个rule
        function ruleUseChange(id) {
            var checkbox = document.getElementById("checkbox" + id);
            var state = checkbox.checked;

            if (state) {
                reuseRule(id);
            } else {
                deleteRule(id);
            }
        }

        function deleteRule(id) {
            $.post(
                "{% url 'ajRuleDelete' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                    }
                }
            )
        }

        function reuseRule(id) {
            $.post(
                "{% url 'ajRuleReuse' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                    }
                }
            )
        }

        function countrySelect(record) {
            $("#provinceSelect").combobox('clear');
            $("#citySelect").combobox('clear');


            var provData = []
            provData.push({"code": "", "name": "省份"});

            {% for province in allProvince %}

                var curCountryCode = record;
                var tempCode = {{ province.code }}/100;
                tempCode = parseInt(tempCode);


                if (curCountryCode == tempCode) {
                    var tempProv = {"code": "{{ province.code }}", "name": "{{ province.name }}"};
                    provData.push(tempProv);
                };
            {% endfor %}

            if (record != "") {
                $("#countryInvertCheckbox").attr("disabled", false);
            } else {
                $("#countryInvertCheckbox").attr("disabled", true);
            }

            $("#provinceSelect").combobox('loadData', provData);
            $("#provinceSelect").combobox('select', '');
        }

        function provinceSelect(record) {
            $("#citySelect").combobox('clear');

            var cityData = [];
            cityData.push({"code": "", "name": "城市"});
            {% for city in allCity %}

                var curProvinceCode = record;
                var tempCode = {{ city.code }}/100;
                tempCode = parseInt(tempCode);

                if (curProvinceCode == tempCode) {
                    var tempCity = {"code": "{{ city.code }}", "name": "{{ city.name }}"};
                    cityData.push(tempCity);
                };

            {% endfor %}
            $("#citySelect").combobox('loadData', cityData);
            $("#citySelect").combobox('select', '')
        }

        $(document).ready(function () {
            initQueryMap();
            //bootstrap 插件
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            $("#countryInvertCheckbox").attr("disabled", true)


            $("#countrySelect").combobox({

                onChange: function (record, oldrecord) {
                    countrySelect(record);
                }
            });

            $("#provinceSelect").combobox({
                onChange: function (record, oldrecord) {
                    provinceSelect(record);
                }
            });

            //页面加载完成自动搜索一下
            submitSearchForm();
        });

        //国家反选checkbox触发事件
        function countryInvertCheck() {
            if ($("#countryInvertCheckbox").is(":checked")) {
                //如果国家反选选中
                //隐藏省份和城市下拉框
//                $("#provinceSelect").combobox('clear');
//                $("#citySelect").combobox('clear');

                $("#provinceTh").hide();
                $("#cityTh").hide();
                $("#provinceTd0").hide();
                $("#cityTd0").hide();
                $("#provinceTd1").hide();
                $("#cityTd1").hide();
            } else {
                $("#provinceTh").show();
                $("#cityTh").show();
                $("#provinceTd0").show();
                $("#cityTd0").show();
                $("#provinceTd1").show();
                $("#cityTd1").show();

                //               $("#countrySelect").change();
            }
        }
    </script>

</head>
<body>

{% include "__head.html" %}

<div class="container-fluid main-div">

    <div class="row">
        <div class="col-md-12">
            <h2>搜索规则</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="ruleSearchForm">

                <div class="conditionTableDiv">

                    <table class="result-table" border="1">
                        <thead>
                        <th></th>
                        <th>国家</th>
                        <th id="provinceTh">省份</th>
                        <th id="cityTh">城市</th>
                        <th>host</th>
                        <th>appid</th>
                        <th>net</th>
                        <th>服务器组</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>条件</td>
                            <td>
                                <select class="easyui-combobox" name="country" id="countrySelect">
                                    <option value="" selected>国家</option>
                                    {% for country in allCountry %}
                                        <option value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td id="provinceTd0">
                                <select class="easyui-combobox" name="province" id="provinceSelect"
                                        data-options="valueField:'code',textField:'name',width:100,panelWidth: 100">
                                    <option value="" selected>省份</option>
                                </select>
                            </td>
                            <td id="cityTd0">
                                <select class="easyui-combobox" name="city" id="citySelect"
                                        data-options="valueField:'code',textField:'name',width:100,panelWidth: 150">
                                    <option value="" selected>城市</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="host" id="hostText"/>
                            </td>
                            <td>
                                <input type="text" name="appid" id="appidText"/>
                            </td>
                            <td>
                                <select name="net" id="netSelect">
                                    <option value="" selected>网络</option>
                                    {% for net in allNet %}
                                        <option value="{{ net.code }}">{{ net.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="serverGroup" id="serverGroupSelect">
                                    <option value="" selected>服务器组</option>
                                    {% for group in allGroup %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr data-toggle="tooltip" data-placement="bottom" data-container="tr" title="非常规取反">

                            <td>取反</td>
                            <td>
                                <input type="checkbox" name="countryInvert" onclick="countryInvertCheck()"
                                       id="countryInvertCheckbox"
                                       class="checkbox"/>
                            </td>
                            <td id="provinceTd1">
                                <input type="checkbox" name="provinceInvert" id="provinceInvertCheckbox"
                                       class="checkbox"
                                       disabled="true"/>
                            </td>
                            <td id="cityTd1">
                                <input type="checkbox" name="cityInvert" id="cityInvertCheckbox" class="checkbox"
                                       disabled="true"/>
                            </td>
                            <td>
                                <input type="checkbox" name="hostInvert" id="hostInvertCheckbox" class="checkbox"/>
                            </td>
                            <td>
                                <input type="checkbox" name="appidInvert" id="appidInvertCheckbox" class="checkbox"/>
                            </td>
                            <td>
                                <input type="checkbox" name="netInvert" id="netInvertCheckbox" class="checkbox"/>
                            </td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="radioDiv">
                    <label><input type="radio" name="showState" id="showAll" value="0" checked>搜索全部</label>
                    <label><input type="radio" name="showState" id="showIsUsed" value="1"/>仅搜索已启用</label>
                    <label><input type="radio" name="showState" id="showNotUsed" value="2"/>仅搜索未启用</label>
                </div>
                <input type="Tel" name="page" id="pageText" value="1" hidden/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <form action="{% url 'ruleAdd' %}" method="get">
                <input type="text" name="id" value="-1" hidden>
                <input type="submit" class="button" value="新增"/>
            </form>
        </div>
        <div class="col-md-3">
            <button id="searchButton" class="button" onclick="search()">搜索</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="searchLenH2"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table id="searchResultTable" class="result-table table-hover table-condensed" border="1">
                <thead>
                <th>id</th>
                <th>国家</th>
                <th>省份</th>
                <th>城市</th>
                <th>host</th>
                <th>appid</th>
                <th>net</th>
                <th>服务器组</th>
                <th>rank</th>
                <th>ttl</th>
                <th>compel</th>
                <th>启用</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="previousDiv">
                <button id="previousPageButton" class="button" onclick="previousPage()">上一页</button>
            </div>
            <div id="curDiv">
                <label id="curPageLabel"></label>
            </div>
            <div id="nextDiv">
                <button id="nextPageButton" class="button" onclick="nextPage()">下一页</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>