<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}
    {% load  static %}
    <link rel="stylesheet" type="text/css" href="{% static "themes/default/easyui.css" %}"/>
    {% load  static %}
    <link rel="stylesheet" type="text/css" href="{% static "themes/icon.css" %}"/>
    {% load  static %}
    <script src="{% static "js/jquery.easyui.min.js" %}"></script>


    <script>
        var GLOBAL = {};

        function initQueryMap() {
            GLOBAL.serverGroupMap = {"": ""};
            GLOBAL.netMap = {"": ""};


            GLOBAL.countryMap = {"": ""};
            GLOBAL.provinceMap = {"": ""};
            GLOBAL.cityMap = {"": ""};

            {% for country in allCountry %}
                GLOBAL.countryMap["{{ country.code }}"] = "{{ country.name }}";
            {% endfor %}

            {% for province in allProvince %}
                GLOBAL.provinceMap["{{ province.code }}"] = "{{ province.name }}";
            {% endfor %}

            {% for city in allCity %}
                GLOBAL.cityMap["{{ city.code }}"] = "{{ city.name }}";
            {% endfor %}
            {% for group in allGroup %}
                GLOBAL.serverGroupMap["{{ group.groupid }}"] = "{{ group.groupidName }}";
            {% endfor %}
            {% for net in allNet %}
                GLOBAL.netMap["{{ net.code }}"] = "{{ net.name }}";
            {% endfor %}
        }

        function validateRuleForm() {
            if (validate_form(document.getElementById("reviseRuleForm"))) {
                var rank = $("#rankSelect").val();
                var compel = $("#compelCheckbox").val();
                var ttl = $("#ttlText").val();
                var serverGroup = $("#groupidSelect").val();

                var cityCode = "";
                var cityName = "";
                var provinceCode = "";
                var provinceName = "";

                var countryInvert = "";
                if ($("#countryInvertCheckbox").prop("disabled") == false && $("#countryInvertCheckbox").is(":checked")) {
                    countryInvert = "~"
                }
                if (!$("#countryInvertCheckbox").is(":checked")) {
                    provinceCode = $("#provinceSelect").combobox('getValue');
                    cityCode = $("#citySelect").combobox('getValue');
                    provinceName = GLOBAL.provinceMap[provinceCode];
                    cityName = GLOBAL.cityMap[cityCode];
                }

                var hostInvert = "";
                if ($("#hostInvertCheckbox").prop("disabled") == false && $("#hostInvertCheckbox").is(":checked")) {
                    hostInvert = "~"
                }
                var appidInvert = "";
                if ($("#appidInvertCheckbox").prop("disabled") == false && $("#appidInvertCheckbox").is(":checked")) {
                    appidInvert = "~"
                }
                var netInvert = "";
                if ($("#netInvertCheckbox").prop("disabled") == false && $("#netInvertCheckbox").is(":checked")) {
                    netInvert = "~"
                }


                var countryCode = $("#countrySelect").val();

                var host = $("#hostText").val();
                var appid = $("#appidText").val();
                var netCode = $("#netSelect").val();

                var countryName = GLOBAL.countryMap[countryCode];

                var netName = GLOBAL.netMap[netCode];
                var serverGroupName = GLOBAL.serverGroupMap[serverGroup];

                if (countryCode != "") {
                    countryCode = "(" + countryCode + ")";
                }
                if (provinceCode != "") {
                    provinceCode = "(" + provinceCode + ")";
                }
                if (cityCode != "") {
                    cityCode = "(" + cityCode + ")";
                }
                if (netCode != "") {
                    netCode = "(" + netCode + ")";
                }
                if (serverGroup != "") {
                    serverGroup = "(" + serverGroup + ")";
                }


                $("#validataAddDiv").html(
                    "rank:" + rank + "<br/>" +
                    "compel:" + compel + "<br/>" +
                    "ttl:" + ttl + "<br/>" +
                    "serverGroup:" + serverGroupName + serverGroup + "<br/>" +
                    "country:" + countryInvert + countryName + countryCode + "<br/>" +
                    "privince:" + provinceName + provinceCode + "<br/>" +
                    "city:" + cityName + cityCode + "<br/>" +
                    "host:" + hostInvert + host + "<br/>" +
                    "appid:" + appidInvert + appid + "<br/>" +
                    "net:" + netInvert + netName + netCode);

                //显示二次确认的模态对话框
                $("#myModal").modal({});
            }
        }

        function submitForm() {
            if (validate_form(document.getElementById("reviseRuleForm"))) {
                $.ajax(
                    {
                        type: 'POST',

                        url: "{% url 'ajHandleRuleRevise'  %}",
                        data: $("#reviseRuleForm").serialize(),
                        beforeSend: function () {
                            $("#submitButton").attr("disabled", true);
                        },
                        success: function (ret) {
                            if (ret.result) {
                                $("#myModal").modal('hide');
                                window.alert("操作成功");
                                window.location.replace("{% url 'ruleSearch' %}");
                            } else {
                                window.alert("操作失败");
                            }
                        },
                        complete: function () {
                            $("#submitButton").attr("disabled", false);
                        }
                    }
                );
            }
        }

        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "") {
                    window.alert(alerttxt);
                    return false
                }
                else {
                    return true
                }
            }
        }

        function validate_form(thisform) {
            with (thisform) {
                if (validate_required(groupid, "group必填") == false) {
                    groupid.focus();
                    return false
                }
                if (validate_required(ttl, "ttl必填") == false) {
                    ttl.focus();
                    return false
                }
                if (validate_required(host, "host必填") == false) {
                    host.focus();
                    return false
                }
                var countryCode = $("#countrySelect").val();
                if(!(countryCode in GLOBAL.countryMap)) {
                    window.alert("国家非法");
                    return false;
                }
                var provinceCode=$("#provinceSelect").combobox('getValue');
                if(!(provinceCode in GLOBAL.provinceMap)){
                    window.alert("省份非法");
                    return false;
                }
                var cityCode=$("#citySelect").combobox('getValue');
                if(!(cityCode in GLOBAL.cityMap)){
                    window.alert("城市非法");
                    return false;
                }
            }
            return true;
        }

        function countrySelect(record) {
            $("#provinceSelect").combobox('clear');
            $("#citySelect").combobox('clear');


            var provData = []
            provData.push({"value": "", "name": "省份"});

            {% for province in allProvince %}

                var curCountryCode = record;
                var tempCode = {{ province.code }}/100;
                tempCode = parseInt(tempCode);


                if (curCountryCode == tempCode) {
                    var tempProv = {"value": "{{ province.code }}", "name": "{{ province.name }}"};
                    provData.push(tempProv);
                };
            {% endfor %}

            if (record != "") {
                $("#countryInvertCheckbox").attr("disabled", false);
            } else {
                $("#countryInvertCheckbox").attr("disabled", true);
            }

            $("#provinceSelect").combobox('loadData', provData);
            $("#provinceSelect").combobox('select', '');
        }

        function provinceSelect(record) {
            $("#citySelect").combobox('clear');

            var cityData = [];
            cityData.push({"value": "", "name": "城市"});
            {% for city in allCity %}

                var curProvinceCode = record;
                var tempCode = {{ city.code }}/100;
                tempCode = parseInt(tempCode);

                if (curProvinceCode == tempCode) {
                    var tempCity = {"value": "{{ city.code }}", "name": "{{ city.name }}"};
                    cityData.push(tempCity);
                };

            {% endfor %}
            $("#citySelect").combobox('loadData', cityData);
            $("#citySelect").combobox('select', '')
        }

        //页面加载完成填充默认参数
        $(document).ready(function () {
            initQueryMap();

            for (var r = 1; r <= 7; r++) {
                $("#rankSelect").append($('<option>', {value: r}).text(r));
            }

            {% for group in allGroup %}
                $("#groupidSelect").append($('<option>', {value:{{ group.groupid }}}).text("{{ group.groupidName }}"));
            {% endfor %}

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            $("#countryInvertCheckbox").attr("disabled", true)

            //国家下拉框更改的时候填充省份下拉框
            $("#countrySelect").combobox({

                onChange: function (record, oldrecord) {
                    countrySelect(record);
                }
            });

            //省份下拉框修改的时候填充城市下拉框
            $("#provinceSelect").combobox({
                onChange: function (record, oldrecord) {
                    provinceSelect(record);
                }
            });

            //设置默认参数
            $("#rankSelect").val({{ rule.rank }});

            if ({{ rule.compel }}=={{ 1 }}) {
                $("#compelCheckbox").attr("checked", true);
            }

            $("#ttlText").val({{ rule.ttl }});
            $("#groupidSelect").val({{ rule.group_id }});


            $("#countrySelect").combobox('select', '{{ condition.country }}');
            $("#provinceSelect").combobox('select', '{{ condition.province }}');
            $("#citySelect").combobox('select', '{{ condition.city }}');

            $("#hostText").val("{{ condition.host }}");
            $("#appidText").val({{ condition.appid }});
            $("#netSelect").val({{ condition.net }});


            if ({{ condition.countryInvert }}=={{ 1 }}) {
                $("#countryInvertCheckbox").attr("checked", true)
            }
            if ({{ condition.provinceInvert }}=={{ 1 }}) {
                $("#provinceInvertCheckbox").attr("checked", true)
            }
            if ({{ condition.cityInvert }}=={{ 1 }}) {
                $("#cityInvertCheckbox").attr("checked", true)
            }
            if ({{ condition.hostInvert }}=={{ 1 }}) {
                $("#hostInvertCheckbox").attr("checked", true)
            }
            if ({{ condition.appidInvert }}=={{ 1 }}) {
                $("#appidInvertCheckbox").attr("checked", true)
            }
            if ({{ condition.netInvert }}=={{ 1 }}) {
                $("#netInvertCheckbox").attr("checked", true)
            }
        });

        //国家反选checkbox事件
        function countryInvertCheck() {
            if ($("#countryInvertCheckbox").is(":checked")) {
                //如果国家反选选中
                //隐藏省份和城市下拉框
//                $("#provinceSelect").empty();
//                $("#citySelect").empty();

                $("#provinceTh").hide();
                $("#cityTh").hide();
                $("#provinceTd0").hide();
                $("#cityTd0").hide();
                $("#provinceTd1").hide();
                $("#cityTd1").hide();
            } else {
                $("#provinceTh").show();
                $("#cityTh").show();
                $("#provinceTd0").show();
                $("#cityTd0").show();
                $("#provinceTd1").show();
                $("#cityTd1").show();

//                $("#countrySelect").change();
            }
        }

    </script>
</head>

<body>
{% include "__head.html" %}

<div class="container-fluid main-div">

    <div class="row">
        <div class="col-md-12">
            <h2>配置</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="reviseRuleForm">

                <table class="result-table" border="1">
                    <thead>
                    <th hidden>id</th>
                    <th>rank</th>
                    <th>compel</th>
                    <th>ttl</th>
                    <th>服务器组</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" name="id" value="{{ id }}" readonly>
                        </td>
                        <td>
                            <select name="rank" id="rankSelect">

                            </select>
                        </td>
                        <td>
                            <input type="checkbox" class="checkbox" name="compel" id="compelCheckbox"/>
                        </td>
                        <td>
                            <input type="text" name="ttl" id="ttlText" value="6000"/>
                        </td>
                        <td>
                            <select name="groupid" id="groupidSelect"/>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <div class="conditionTableDiv">


                    <table class="result-table" border="1">
                        <thead>
                        <th></th>
                        <th>国家</th>
                        <th id="provinceTh">省份</th>
                        <th id="cityTh">城市</th>
                        <th>host</th>
                        <th>appid</th>
                        <th>net</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>条件</td>
                            <td>
                                <select class="easyui-combobox" name="country" id="countrySelect">
                                    <option value="" selected>国家</option>
                                    {% for country in allCountry %}
                                        <option value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td id="provinceTd0">
                                <select class="easyui-combobox" name="province" id="provinceSelect"
                                        data-options="valueField:'value',textField:'name',width:100,panelWidth: 100">
                                    <option value="" selected>省份</option>
                                </select>
                            </td>
                            <td id="cityTd0">
                                <select class="easyui-combobox" name="city" id="citySelect"
                                        data-options="valueField:'value',textField:'name',width:100,panelWidth: 150">
                                    <option value="" selected>城市</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="host" id="hostText"/>
                            </td>
                            <td>
                                <input type="text" name="appid" id="appidText"/>
                            </td>
                            <td>
                                <select name="net" id="netSelect">
                                    <option value="" selected>网络</option>
                                    {% for net in allNet %}
                                        <option value="{{ net.code }}">{{ net.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr data-toggle="tooltip" data-placement="bottom" data-container="tr" title="非常规取反">

                            <td>取反</td>
                            <td>
                                <input type="checkbox" name="countryInvert" onclick="countryInvertCheck()"
                                       id="countryInvertCheckbox"
                                       class="checkbox"/>
                            </td>
                            <td id="provinceTd1">
                                <input type="checkbox" name="provinceInvert" id="provinceInvertCheckbox"
                                       class="checkbox"
                                       disabled="true"/>
                            </td>
                            <td id="cityTd1">
                                <input type="checkbox" name="cityInvert" id="cityInvertCheckbox" class="checkbox"
                                       disabled="true"/>
                            </td>
                            <td>
                                <input type="checkbox" name="hostInvert" id="hostInvertCheckbox" class="checkbox"/>
                            </td>
                            <td>
                                <input type="checkbox" name="appidInvert" id="appidInvertCheckbox" class="checkbox"/>
                            </td>
                            <td>
                                <input type="checkbox" name="netInvert" id="netInvertCheckbox" class="checkbox"/>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>


            </form>
            <button class="button" onclick="window.location.replace('{% url 'ruleSearch' %}')">取消</button>
            <button class="button" onclick="validateRuleForm()">提交</button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增规则信息</h4>
            </div>
            <div class="modal-body" id="validataAddDiv">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" onclick="submitForm()">确认提交</button>
            </div>
        </div>
    </div>
</div>

</body>


</html>