<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Rule</title>

    {% include "__staticFiles.html" %}

    <script>
        //搜索按钮调用
        //重置需要接受的page，然后提交表单
        function search() {
            $("#pageText").val(1);
            submitSearchForm();
        }


        //提交搜索表单
        function submitSearchForm() {
            //先把之前查询的结果表格清空
            var searchResultTable = document.getElementById("searchResultTable");

            var len = searchResultTable.rows.length;
            while (len > 1) {
                searchResultTable.deleteRow(len - 1);
                len = searchResultTable.rows.length;
            }

            //提交ajax请求的时候禁用搜索按钮
            $.ajax({
                type: 'POST',
                url: "{% url 'ajRuleSearch' %}",
                data: $("#ruleSearchForm").serialize(),
                beforeSend:function () {
                    $("#searchButton").attr("disabled",true);
                },
                success: function (ret) {
                    var searchResultTable = document.getElementById("searchResultTable");

                    var tbody=document.createElement("tbody");
                    searchResultTable.appendChild(tbody);

                    var count = 1;
                    //对于每个查找结果，填充搜索结果表
                    $.each(ret.ruleList, function (index, rule) {
                        var newRuleLine = tbody.insertRow();
                        count = count + 1;
                        if (count % 2 == 0) {
                            addClass(newRuleLine, "green-tr");
                        }
                        var idCol = newRuleLine.insertCell();
                        idCol.innerHTML = rule.id;
                        var countryCol = newRuleLine.insertCell();
                        countryCol.innerHTML = rule.country;
                        var provinceCol = newRuleLine.insertCell();
                        provinceCol.innerHTML = rule.province;
                        var cityCol = newRuleLine.insertCell();
                        cityCol.innerHTML = rule.city;
                        var hostCol = newRuleLine.insertCell();
                        hostCol.innerHTML = rule.host;
                        var appidCol = newRuleLine.insertCell();
                        appidCol.innerHTML = rule.appid;
                        var netCol = newRuleLine.insertCell();
                        netCol.innerHTML = rule.net;
                        var group_idCol = newRuleLine.insertCell();
                        group_idCol.innerHTML = rule.group_id;
                        var rankCol = newRuleLine.insertCell();
                        rankCol.innerHTML = rule.rank;
                        var ttlCol = newRuleLine.insertCell();
                        ttlCol.innerHTML = rule.ttl;
                        var compelCol = newRuleLine.insertCell();
                        compelCol.innerHTML = rule.compel;

                        //增加启用按钮
                        var is_usedCol = newRuleLine.insertCell();
                        is_usedCol.innerHTML = "<input type='checkbox' class='tgl tgl-skewed' id='checkbox" + rule.id + "' class='checkbox' onclick='ruleUseChange(" + rule.id + ")'>" +
                            "<label class='tgl-btn' data-tg-off='off' data-tg-on='on' for='checkbox" + rule.id + "'/>"

                        //增加更改按钮
                        var changeCol = newRuleLine.insertCell();
                        changeCol.innerHTML = "<form action='" + "{% url 'ruleRevise' %}" + "' method=''>" +
                            "<input type='text' name='id' value='" + rule.id + "' hidden/>" +
                            "<input type='submit' class='table-button' value='更改'/>" +
                            "</form>"
                    });
                    //根据规则启用状态设置对应的checkbox
                    $.each(ret.ruleList, function (index, rule) {
                        if (rule.is_use == "1") {
                            var checkbox = document.getElementById("checkbox" + rule.id);
                            checkbox.checked = true;
                        }
                    });
                    //如果有上一页，则显示上一页按钮
                    if (ret.has_previous) {
                        $("#previousDiv").show();
                    } else {
                        $("#previousDiv").hide();
                    }
                    //如果有下一页，则显示下一页按钮
                    if (ret.has_next) {
                        $("#nextDiv").show();
                    } else {
                        $("#nextDiv").hide();
                    }
                    //显示当前页数
                    var curPageLabel = document.getElementById("curPageLabel");
                    curPageLabel.innerHTML = "第" + ret.page_num + "页" + "共" + ret.all_page_num + "页";

                    $("#pageText").val(ret.page_num);

                    //显示一共多少条记录
                    var searchLenH2 = document.getElementById("searchLenH2");
                    searchLenH2.innerHTML = "搜素结果(共" + (ret.searchLen) + "条)";

                },
                complete:function () {
                    $("#searchButton").attr("disabled",false);
                }
            });
        }

        function nextPage() {
            var curPage = $("#pageText").val();
            $("#pageText").val(parseInt(curPage) + 1);
            submitSearchForm();
        }
        function previousPage() {
            var curPage = $("#pageText").val();
            $("#pageText").val(parseInt(curPage) - 1);
            submitSearchForm();
        }

        //根据checkbox改变的状态启用或者禁用某个rule
        function ruleUseChange(id) {
            var checkbox = document.getElementById("checkbox" + id);
            var state = checkbox.checked;

            if (state) {
                reuseRule(id);
            } else {
                deleteRule(id);
            }
        }

        function deleteRule(id) {
            $.post(
                "{% url 'ajRuleDelete' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                    }
                }
            )
        }
        function reuseRule(id) {
            $.post(
                "{% url 'ajRuleReuse' %}",
                {"id": id},
                function (ret) {
                    if (ret.result) {
                    } else {
                    }
                }
            )
        }
        //页面加载完成自动搜索一下
        $(document).ready(function () {
            submitSearchForm();
        });
    </script>

</head>
<body>

{% include "__head.html" %}

<div class="container-fluid main-div">

    <div class="row">
        <div class="col-md-12">
            <h2>搜索规则</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="ruleSearchForm">
                {% include "ruleConfig/__conditionTable.html" %}
                <div class="radioDiv">
                    <label><input type="radio" name="showState" id="showAll" value="0" checked>搜索全部</label>
                    <label><input type="radio" name="showState" id="showIsUsed" value="1"/>仅搜索已启用</label>
                    <label><input type="radio" name="showState" id="showNotUsed" value="2"/>仅搜索未启用</label>
                </div>
                <input type="Tel" name="page" id="pageText" value="1" hidden/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <form action="{% url 'ruleRevise' %}" method="get">
                <input type="text" name="id" value="-1" hidden>
                <input type="submit" class="button" value="新增"/>
            </form>
        </div>
        <div class="col-md-3">
            <button id="searchButton" class="button" onclick="search()">搜索</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="searchLenH2"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table id="searchResultTable" class="result-table table-hover table-condensed" border="1">
                <thead>
                <th>id</th>
                <th>国家</th>
                <th>省份</th>
                <th>城市</th>
                <th>host</th>
                <th>appid</th>
                <th>net</th>
                <th>服务器组</th>
                <th>rank</th>
                <th>ttl</th>
                <th>compel</th>
                <th>启用</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="previousDiv">
                <button id="previousPageButton" class="button" onclick="previousPage()">上一页</button>
            </div>
            <div id="curDiv">
                <label id="curPageLabel"></label>
            </div>
            <div id="nextDiv">
                <button id="nextPageButton" class="button" onclick="nextPage()">下一页</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>