<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}

    <script>
        $(document).ready(function () {
            for (var r = 1; r <= 7; r++) {
                $("#rankSelect").append(
                    "<option value='" +
                    r +
                    "'>" +
                    r +
                    "</option>"
                );
            };

            {% for groupid in allGroupid %}
                $("#groupidSelect").append(
                    "<option value='" +
                    "{{ groupid }}" +
                    "'>" +
                    "{{ groupid }}" +
                    "</option>"
                );
            {% endfor %}

            {% for rule in allRule %}
                if ({{ rule.id }}=={{ id }}) {
                    $("#rankSelect").val({{ rule.rank }});

                    if ({{ rule.compel }}=={{ 1 }}) {
                        $("#compelCheckbox").attr("checked", true);
                    }

                    $("#ttlText").val({{ rule.ttl }});
                    $("#groupidSelect").val({{ rule.group_id }});
                }
            {% endfor %}
        });

        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "") {
                    alert(alerttxt);
                    return false
                }
                else {
                    return true
                }
            }
        }
        function validate_form(thisform) {
            with (thisform) {
                if (validate_required(groupid, "group id must be filled out!") == false) {
                    groupid.focus();
                    return false
                }
                if (validate_required(ttl, "ttl must be filled out!") == false) {
                    ttl.focus();
                    return false
                }
            }
        }
    </script>

</head>

<body>
{% include "__head.html" %}

<div class="container-fluid mainDiv">

    <div class="row">
        <div class="col-md-12">
            <h2>配置</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="/handleRuleRevise/" onsubmit="return validate_form(this)" method="post">

                <table class="mytable" border="1">
                    <thead>
                    <th hidden>id</th>
                    <th>rank</th>
                    <th>compel</th>
                    <th>ttl</th>
                    <th>groupid</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" name="id" value="{{ id }}" readonly>
                        </td>
                        <td>
                            <select name="rank" id="rankSelect">

                            </select>
                        </td>
                        <td>
                            <input type="checkbox" class="checkbox" name="compel" id="compelCheckbox"/>
                        </td>
                        <td>
                            <input type="text" name="ttl" id="ttlText"/>
                        </td>
                        <td>
                            <!--<input type="text" name="groupid" id="groupidText"/>-->
                            <select name="groupid" id="groupidSelect"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

                {% include "ruleConfig/__conditionTable.html" %}

                <input type="button" class="button" value="取消"
                       onclick="window.location.replace('/ruleConfigSearch/')">

                <input type="submit" class="button" value="提交"/>

            </form>
        </div>
    </div>
</div>
</body>


</html>