<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "__staticFiles.html" %}

    <script>

        function submitForm() {
            if (validate_form(document.getElementById("reviseRuleForm"))) {
                $.ajax(
                    {
                        type: 'POST',

                        url: "{% url 'ajHandleRuleRevise'  %}",
                        data: $("#reviseRuleForm").serialize(),
                        beforeSend: function () {
                            $("#submitButton").attr("disabled", true);
                        },
                        success: function (ret) {
                            if (ret.result) {
                                window.alert("操作成功");
                                window.location.replace("{% url 'ruleSearch' %}");
                            } else {
                                window.alert("操作失败");
                            }
                        },
                        complete: function () {
                            $("#submitButton").attr("disabled", false);
                        }
                    }
                );
            }
        }
        //页面加载完成填充默认参数
        $(document).ready(function () {
            for (var r = 1; r <= 7; r++) {
                $("#rankSelect").append($('<option>', {value: r}).text(r));
            }
            ;

            {% for group in allGroup %}
                $("#groupidSelect").append($('<option>', {value:{{ group.groupid }}}).text("{{ group.groupidName }}"));
            {% endfor %}

            {% for rule in allRule %}
                if ({{ rule.id }}=={{ id }}) {
                    $("#rankSelect").val({{ rule.rank }});

                    if ({{ rule.compel }}=={{ 1 }}) {
                        $("#compelCheckbox").attr("checked", true);
                    }

                    $("#ttlText").val({{ rule.ttl }});
                    $("#groupidSelect").val({{ rule.group_id }});
                }
            {% endfor %}
        });

        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "") {
                    window.alert(alerttxt);
                    return false
                }
                else {
                    return true
                }
            }
        }
        function validate_form(thisform) {
            with (thisform) {
                if (validate_required(groupid, "group id must be filled out!") == false) {
                    groupid.focus();
                    return false
                }
                if (validate_required(ttl, "ttl must be filled out!") == false) {
                    ttl.focus();
                    return false
                }
            }
            return true;
        }
    </script>

</head>

<body>
{% include "__head.html" %}

<div class="container-fluid main-div">

    <div class="row">
        <div class="col-md-12">
            <h2>配置</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="reviseRuleForm">

                <table class="result-table" border="1">
                    <thead>
                    <th hidden>id</th>
                    <th>rank</th>
                    <th>compel</th>
                    <th>ttl</th>
                    <th>服务器组</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" name="id" value="{{ id }}" readonly>
                        </td>
                        <td>
                            <select name="rank" id="rankSelect">

                            </select>
                        </td>
                        <td>
                            <input type="checkbox" class="checkbox" name="compel" id="compelCheckbox"/>
                        </td>
                        <td>
                            <input type="text" name="ttl" id="ttlText" value="6000"/>
                        </td>
                        <td>
                            <select name="groupid" id="groupidSelect"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

                {% include "ruleConfig/__conditionTable.html" %}


            </form>
            <button class="button" onclick="window.location.replace('{% url 'ruleSearch' %}')">取消</button>
            <button class="button" onclick="submitForm()">提交</button>
        </div>
    </div>
</div>
</body>


</html>