<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>

    <script>
        $(document).ready(function () {
            for (var r = 1; r <= 7; r++) {
                $("#rankSelect").append(
                    "<option value='" +
                    r +
                    "'>" +
                    r +
                    "</option>"
                );
            }
            ;


        });
    </script>


    <script>
        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "") {
                    alert(alerttxt);
                    return false
                }
                else {
                    return true
                }
            }
        }
        function validate_form(thisform) {
            with (thisform) {
                if (validate_required(groupid, "group id must be filled out!") == false) {
                    groupid.focus();
                    return false
                }
                if (validate_required(ttl, "ttl must be filled out!") == false) {
                    ttl.focus();
                    return false
                }
            }
        }
    </script>

</head>
<body>

<h1 style="...">Add</h1>

<form action="/handleRuleRevise/" onsubmit="return validate_form(this)" method="post">

    <table border="1">
        <thead>
        <th>id</th>
        <th>rank</th>
        <th>compel</th>
        <th>ttl</th>
        <th>groupid</th>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" name="id" value="{{ id }}" readonly>
            </td>
            <td>
                <select name="rank" id="rankSelect">

                </select>
            </td>
            <td>
                <input type="checkbox" name="compel" id="compelCheckbox"/>
            </td>
            <td>
                <input type="text" name="ttl" id="ttlText"/>
            </td>
            <td>
                <input type="text" name="groupid" id="groupidText"/>
            </td>
        </tr>
        </tbody>
    </table>

    {% include "ruleConfig/__conditionTable.html" %}

    <input type="submit" value="提交"/>
</form>

</body>
</html>